:root {
  --bg: rgba(70, 130, 180, 0.6);
  --fg: white;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3";
    font-size: 12px;
}

#mapid {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
}

.marker-cluster-small,  .marker-cluster-small div,
.marker-cluster-medium, .marker-cluster-medium div,
.marker-cluster-large,  .marker-cluster-large div {
    background-color: var(--bg);
    color: var(--fg);
}

.marker-cluster,  .marker-cluster div {
    font-family: "Source Sans 3";
    font-size: 1rem;
}

.github-link {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    opacity: 0.7; 
    z-index: 1000; 
}

.github-icon {
    width: 40px; 
}

#popup {
    position: fixed;
    top: 50%;
    height: 90%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--fg);
    border-radius: 10px;
    padding: 20px;
    display: none;
}

#popup-title {
    display: block;
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the text bold */
}

/* #popup .close-btn { */
/*     position: absolute; */
/*     top: 10px; */
/*     right: 10px; */
/*     cursor: pointer; */
/* } */

.custom-icon {
    position: absolute;
    text-align: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    /* border-left: 1px solid red; */
    /* border-right: 1px solid red; */
    align-items: center;
}

.icon-content {
    position: relative;
    padding: 5px;
    color: var(--fg);
    background: var(--bg);
    white-space: nowrap;
    border-radius: 20px;
    font-family: "Source Sans 3";
    font-size: 1rem;
    /* font-weight: bold; */
}

.icon-content div {
    padding-left: 5px;
    padding-right: 5px;
    background: var(--bg);
    border-radius: 20px;
}

.pointer {
    position: relative;
    width: 0; /* Essential for not offsetting the pointer */
    height: 0;
    border-left: 5px solid transparent; /* Increased the size for better visibility */
    border-right: 5px solid transparent;
    border-top: 10px solid var(--bg);
    top: 0;
}
